.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    background-color: rgb(169, 183, 178);
    min-height: 1000px;
    display: flex;
}

.content {
    flex: 1;
    text-align: center;
}